{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <title>{% block title %}CalendarMeetings{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static './styles.css' %}">
    {% block script %}
        <script src="{% static './index.js' %}"></script>
    {% endblock %}
    <style>
        @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css ");
    </style>
    {% endblock %}
</head>
<body>
<div class="body">
    {% block body %}
    {% endblock %}

</div>
</body>
</html>

